/public/file-struk/*
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/packages
/template
/routes/ori.php
/public/.htaccess
/public/new/*
/public/api/*
/public/upload/*
bootstrap/cache/config.php
bootstrap/cache/packages.php
bootstrap/cache/services.php